.weather.container {
  position: absolute;
  margin-left: 20%;
}
.weather.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.weather h2 {
  color: #333;
  margin-bottom: 20px;
}
.weather .form-control, .form-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.weather .btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.weather .btn-primary:hover {
  background-color: #0056b3;
}
.weather #weather-result {
  font-size: 18px;
}

#weather-history {
  overflow-y: auto;
  margin-top: 10px;
  -webkit-overflow-scrolling: touch;
}
