<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>

    <!-- Include Navbar Template -->
    {% include 'navbar.html' %}
    <!-- Include Chatbot Template -->
    {% include 'chatbot.html' %}
    <!-- Include Weather Template -->
    {% include 'weather.html' %}
    <!-- Include Todo Template -->

</body>

</html>
